*{
  margin: 0;
  padding: 0;
}
body{
  /* height: 100%; */
  background: url("./../img/bg.jpg") bottom;  
  width:100%;
  height: 100vh; 
  background-color: black;
  background-size: cover;
}

/* ==================== Nav Start ==================== */
nav{
  display:flex;
  width: 100%;
  height:auto;

}
nav > #logo {
  flex:1;
  font-size: 25px;
  padding: 10px;;
  margin-top: 15px;
  font-weight: bold;
  min-width: 30px;
  font-family: 'Trebuchet MS';
}
nav > #logo a {
  color:#fff;           
}
  .menu ul {
  display: flex;
  list-style:none;
  margin-top: 30px;
flex-wrap: wrap;
   height: 30px;
}

.menu ul li{
  /* margin-right: 10px; */
}
a{
  text-decoration: none;
}
.menu ul li a{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#fff;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  padding: 1px 25px;
  font-family: 'Open Sans', sans-serif;
}

.menu ul li a:hover {
  color:rgb(133, 97, 7) ;
   border-bottom:2px solid rgb(133, 97, 7) ;
   padding: 1px 25px
}
.footer{
  text-align:  center;
  margin-top:50px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  body{
    height: 100%;
  }
  nav{
    /* display:flex; */
    width: 100%;
    display: block;
    flex-direction:column;
    align-items: center
    
  }

.menu ul{
  
  display: flex;
  margin-top: 0;
  justify-content: center;
/* flex-direction:column; */
width: 100%;
height: 90%;  

}

  .menu ul li {
    /* flex-basis: 100%; */
background:rgb(51, 49, 49);
border-bottom: 1px solid #ffffff;
opacity: .9;
width: 100%;
z-index: 1;
text-align: center;
padding:10px;

  }
  .menu ul li a {
  margin: auto;
  box-sizing: border-box;



  }
}
/* ============================== Nav Ends ==================== ==============*/

/* ============================== Page banner start========================== */
.banner-text{
display: flex;
padding: 8% 0;
margin:  auto;
width: 60%;
text-align: center;
flex-direction: column;
/* color:rgb(133, 97, 7); */

}
.banner-text h2{
  color:  rgb(95, 75, 25);
font-size: 2.5em;
margin-bottom: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif


}
.banner-text p{
  font-size: 1.5em;
  color: #fff;
font-family:  'Trebuchet MS';
}
/* ===================================== Page banner Ends ================================== */

.top-logo{
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  padding-top: 0px; 
}
/* .navbar-logo{
  width: 50px;
  height: 100px;
} */

.submit-btn{
  width: 150px;
  height: 40px;
  margin-top: 40px;
  background-color:rgb(133, 97, 7) ;
  cursor: pointer;
  font-size: 18px;
  color: azure;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.submit-btn:hover{
  background-color:rgb(22, 17, 4) ;
border-radius: 10px;
}
